In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%load_ext autoreload
%autoreload 2
plt.style.use('seaborn')

In [ ]:
# !head data/mfp-diaries.tsv

## Exploratory Data Analysis

In [2]:
df = pd.read_csv('data/mfp-diaries.tsv',
                  sep='\t',
                  header=None,
                  names=['userId','diary_date','food_entries','daily_goal'])

In [3]:
df.head()

,userId,diary_date,food_entries,daily_goal
0,1,2014-09-14,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2924}..."
1,1,2014-09-15,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2430}..."
2,1,2014-09-16,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 1862}..."
3,1,2014-09-17,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2251}..."
4,1,2014-09-18,"[{""meal"": ""MY food"", ""dishes"": [{""nutritions"":...","{""total"": [{""name"": ""Calories"", ""value"": 2001}..."

In [4]:
len(df['userId'].unique())

9896

## UserId, Entry_Date, Daily_Goal  (Need to Parse Data)

In [7]:
df_goal = df.drop(['food_entries'], axis=1)

In [8]:
df_goal.head()

   userId  diary_date                                         daily_goal
0       1  2014-09-14  {"total": [{"name": "Calories", "value": 2924}...
1       1  2014-09-15  {"total": [{"name": "Calories", "value": 2430}...
2       1  2014-09-16  {"total": [{"name": "Calories", "value": 1862}...
3       1  2014-09-17  {"total": [{"name": "Calories", "value": 2251}...
4       1  2014-09-18  {"total": [{"name": "Calories", "value": 2001}...

In [10]:
parse_df = df_goal.drop(['userId', 'diary_date'], axis=1)
parse_df.head()

                                          daily_goal
0  {"total": [{"name": "Calories", "value": 2924}...
1  {"total": [{"name": "Calories", "value": 2430}...
2  {"total": [{"name": "Calories", "value": 1862}...
3  {"total": [{"name": "Calories", "value": 2251}...
4  {"total": [{"name": "Calories", "value": 2001}...

In [11]:
tg_dict = json.loads(parse_df['daily_goal'][0])
tg_dict

{'total': [{'name': 'Calories', 'value': 2924},
  {'name': 'Carbs', 'value': 340},
  {'name': 'Fat', 'value': 114},
  {'name': 'Protein', 'value': 186},
  {'name': 'Sodium', 'value': 3658},
  {'name': 'Sugar', 'value': 109}],
 'goal': [{'name': 'Calories', 'value': 3173},
  {'name': 'Carbs', 'value': 396},
  {'name': 'Fat', 'value': 105},
  {'name': 'Protein', 'value': 160},
  {'name': 'Sodium', 'value': 2300},
  {'name': 'Sugar', 'value': 119}]}

## Parse Function

In [12]:
"""Creates list of keys and values from the first dictionary, and zips them together"""
def daily_totals(tg_dict):    
    total_cols = [list(tg_dict.keys())[0] + "_" + x['name'].lower() 
                  for x in tg_dict['total']]
    total_values = [y['value'] 
                  for y in tg_dict['total']]

    total_dict = {}
    for col, val in zip(total_cols, total_values):
        total_dict[col] = val
    return total_dict

"""Creates list of keys and values from the second dictionary, and zips them together"""
def daily_goals(tg_dict):
    goal_cols = [list(tg_dict.keys())[1] + "_" + k['name'].lower()
                 for k in tg_dict['goal']]
    goal_values = [i['value']
                 for i in tg_dict['goal']]
    
    goal_dict = {}
    for col, val in zip(goal_cols, goal_values):
        goal_dict[col] = val
    return goal_dict

"""Combines new keys and values for 'Total' and 'Goals' into single dictionary"""
def Merge(dict1, dict2): 
    res = {**dict1, **dict2} 
    return res

"""Iterrates through entire parsed dataframe and appends merged rows"""
def final_parsed_dict():
    results = []
    for row in parse_df['daily_goal'].values:
        tg_dict = json.loads(row)
        results.append(Merge(daily_goals(tg_dict), daily_totals(tg_dict)))
    return results

In [13]:
f = pd.DataFrame(final_parsed_dict())

In [14]:
f.head()

,goal_calcium,goal_calories,goal_carbs,goal_chol,goal_fat,goal_fiber,goal_iron,goal_mon fat,goal_ply fat,goal_potass.,...,total_mon fat,total_ply fat,total_potass.,total_protein,total_sat fat,total_sodium,total_sugar,total_trn fat,total_vit a,total_vit c
0,NaN,3173.0,396.0,NaN,105.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,186.0,NaN,3658.0,109.0,NaN,NaN,NaN
1,NaN,1572.0,196.0,NaN,52.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.0,NaN,855.0,63.0,NaN,NaN,NaN
2,NaN,1832.0,229.0,NaN,61.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,114.0,NaN,2215.0,100.0,NaN,NaN,NaN
3,NaN,1685.0,210.0,NaN,56.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,98.0,NaN,1765.0,105.0,NaN,NaN,NaN
4,NaN,1597.0,199.0,NaN,53.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,202.0,NaN,1101.0,71.0,NaN,NaN,NaN

In [15]:
df_concat = pd.concat([df_goal, f], axis=1)
final_df = df_concat.drop(['daily_goal'], axis=1)

In [16]:
final_df = final_df.drop(['goal_calcium','goal_chol','goal_iron','goal_mon fat',
                          'goal_ply fat','goal_potass.','goal_sat fat','goal_trn fat',
                          'goal_vit a','goal_vit c','total_calcium','total_chol',
                          'total_iron','total_mon fat','total_ply fat','total_potass.',
                          'total_sat fat','total_trn fat','total_vit a','total_vit c'], axis=1)

In [17]:
final_df.isna().sum()

userId                 0
diary_date             0
goal_calories          7
goal_carbs         14145
goal_fat           17859
goal_fiber        344347
goal_protein        7321
goal_sodium       196659
goal_sugar        218272
total_calories        26
total_carbs        14146
total_fat          17866
total_fiber       344349
total_protein       7331
total_sodium      196660
total_sugar       218270
dtype: int64

In [18]:
final_df.fillna(0, inplace=True)

In [22]:
final_df

,userId,diary_date,goal_calories,goal_carbs,goal_fat,goal_fiber,goal_protein,goal_sodium,goal_sugar,total_calories,total_carbs,total_fat,total_fiber,total_protein,total_sodium,total_sugar
0,1,2014-09-14,3173.0,396.0,105.0,0.0,160.0,2300.0,119.0,2924.0,340.0,114.0,0.0,186.0,3658.0,109.0
1,1,2014-09-15,1572.0,196.0,52.0,0.0,79.0,2300.0,59.0,2430.0,96.0,37.0,0.0,50.0,855.0,63.0
2,1,2014-09-16,1832.0,229.0,61.0,0.0,92.0,2300.0,69.0,1862.0,158.0,54.0,0.0,114.0,2215.0,100.0
3,1,2014-09-17,1685.0,210.0,56.0,0.0,85.0,2300.0,63.0,2251.0,187.0,60.0,0.0,98.0,1765.0,105.0
4,1,2014-09-18,1597.0,199.0,53.0,0.0,80.0,2300.0,60.0,2001.0,113.0,81.0,0.0,202.0,1101.0,71.0
5,1,2014-09-19,1589.0,198.0,53.0,0.0,80.0,2300.0,60.0,2158.0,180.0,89.0,0.0,115.0,1998.0,84.0
6,1,2014-09-20,2823.0,352.0,93.0,0.0,142.0,2300.0,106.0,2691.0,282.0,92.0,0.0,216.0,2623.0,134.0
7,1,2014-09-21,2168.0,271.0,72.0,0.0,109.0,2300.0,82.0,2524.0,224.0,62.0,0.0,133.0,2602.0,110.0
8,1,2014-09-22,2153.0,269.0,71.0,0.0,108.0,2300.0,81.0,2182.0,195.0,74.0,0.0,180.0,1507.0,129.0
9,1,2014-09-23,2587.0,323.0,86.0,0.0,130.0,2300.0,97.0,2443.0,214.0,128.0,0.0,147.0,3222.0,105.0
10,1,2014-09-24,3911.0,488.0,129.0,0.0,197.0,2300.0,147.0,1595.0,128.0,50.0,0.0,214.0,1686.0,42.0
11,1,2014-09-25,2638.0,329.0,87.0,0.0,133.0,2300.0,99.0,2136.0,160.0,92.0,0.0,224.0,4267.0,21.0
12,1,2014-09-26,2478.0,309.0,82.0,0.0,125.0,2300.0,93.0,1415.0,106.0,43.0,0.0,193.0,1376.0,41.0
13,1,2014-09-27,1725.0,215.0,57.0,0.0,87.0,2300.0,65.0,1401.0,76.0,7.0,0.0,21.0,769.0,55.0
14,1,2014-09-28,2726.0,340.0,90.0,0.0,137.0,2300.0,102.0,2291.0,245.0,70.0,0.0,165.0,3071.0,95.0
15,1,2014-09-29,2619.0,327.0,87.0,0.0,132.0,2300.0,98.0,2642.0,189.0,44.0,0.0,95.0,2486.0,55.0
16,1,2014-09-30,2431.0,303.0,80.0,0.0,122.0,2300.0,91.0,2664.0,151.0,76.0,0.0,181.0,1278.0,90.0
17,1,2014-10-01,2183.0,272.0,72.0,0.0,110.0,2300.0,82.0,2258.0,170.0,92.0,0.0,197.0,1940.0,84.0
18,1,2014-10-02,1836.0,229.0,61.0,0.0,92.0,2300.0,69.0,2250.0,276.0,52.0,0.0,113.0,3574.0,69.0
19,1,2014-10-03,2763.0,345.0,91.0,0.0,139.0,2300.0,104.0,2650.0,219.0,93.0,0.0,142.0,3316.0,65.0
20,1,2014-10-04,2621.0,327.0,87.0,0.0,132.0,2300.0,99.0,2154.0,261.0,86.0,0.0,123.0,3312.0,125.0
21,1,2014-10-06,2473.0,309.0,82.0,0.0,125.0,2300.0,93.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1,2014-10-07,1667.0,208.0,55.0,0.0,84.0,2300.0,63.0,2111.0,167.0,78.0,0.0,126.0,2169.0,77.0
23,1,2014-10-08,1714.0,214.0,57.0,0.0,86.0,2300.0,64.0,2165.0,134.0,89.0,0.0,202.0,1255.0,70.0
24,1,2014-10-09,2052.0,256.0,68.0,0.0,103.0,2300.0,77.0,2150.0,164.0,75.0,0.0,201.0,1406.0,119.0
25,1,2014-10-10,1784.0,223.0,59.0,0.0,90.0,2300.0,67.0,2165.0,134.0,89.0,0.0,202.0,1255.0,70.0
26,1,2014-10-11,2995.0,374.0,99.0,0.0,151.0,2300.0,113.0,3078.0,266.0,117.0,0.0,248.0,2460.0,119.0
27,1,2014-10-12,2303.0,287.0,76.0,0.0,116.0,2300.0,87.0,2428.0,206.0,88.0,0.0,179.0,1723.0,131.0
28,1,2014-10-13,1955.0,244.0,65.0,0.0,98.0,2300.0,73.0,2117.0,212.0,92.0,0.0,133.0,2236.0,70.0
29,1,2014-10-14,2339.0,292.0,77.0,0.0,118.0,2300.0,88.0,2157.0,224.0,66.0,0.0,178.0,2971.0,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587157,9897,2015-02-05,2244.0,281.0,75.0,25.0,112.0,0.0,84.0,1621.0,143.0,73.0,11.0,38.0,0.0,65.0
587158,9897,2015-02-06,2179.0,272.0,73.0,24.0,109.0,0.0,82.0,1620.0,152.0,66.0,15.0,67.0,0.0,76.0
587159,9897,2015-02-07,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1917.0,232.0,42.0,16.0,99.0,0.0,64.0
587160,9897,2015-02-08,1648.0,206.0,55.0,18.0,82.0,0.0,62.0,1720.0,130.0,84.0,2.0,95.0,0.0,23.0
587161,9897,2015-02-09,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,2128.0,257.0,56.0,18.0,107.0,0.0,81.0
587162,9897,2015-02-10,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1776.0,166.0,71.0,15.0,98.0,0.0,95.0
587163,9897,2015-02-11,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1868.0,88.0,51.0,20.0,63.0,0.0,14.0
587164,9897,2015-02-12,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1553.0,123.0,75.0,14.0,91.0,0.0,40.0
587165,9897,2015-02-13,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,2021.0,163.0,86.0,13.0,100.0,0.0,65.0
587166,9897,2015-02-14,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1971.0,127.0,95.0,11.0,106.0,0.0,30.0
587167,9897,2015-02-15,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1366.0,125.0,67.0,2.0,76.0,0.0,85.0
587168,9897,2015-02-16,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1656.0,82.0,72.0,9.0,116.0,0.0,11.0
587169,9897,2015-02-17,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1794.0,106.0,54.0,10.0,107.0,0.0,20.0
587170,9897,2015-02-18,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1964.0,153.0,88.0,12.0,127.0,0.0,12.0
587171,9897,2015-02-19,1556.0,195.0,52.0,17.0,78.0,0.0,58.0,1590.0,145.0,40.0,13.0,18.0,0.0,36.0
587172,9897,2015-02-20,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1727.0,60.0,65.0,9.0,109.0,0.0,7.0
587173,9897,2015-02-21,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1620.0,89.0,83.0,12.0,131.0,0.0,27.0
587174,9897,2015-02-22,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,570.0,25.0,4.0,0.0,5.0,0.0,0.0
587175,9897,2015-02-23,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1130.0,132.0,46.0,9.0,49.0,0.0,17.0
587176,9897,2015-02-24,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1455.0,103.0,57.0,8.0,69.0,0.0,25.0
587177,9897,2015-02-25,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1807.0,187.0,96.0,14.0,81.0,0.0,74.0
587178,9897,2015-02-26,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1325.0,127.0,53.0,10.0,81.0,0.0,17.0
587179,9897,2015-02-27,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1001.0,50.0,52.0,7.0,52.0,0.0,12.0
587180,9897,2015-02-28,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1922.0,117.0,86.0,18.0,112.0,0.0,15.0
587181,9897,2015-03-01,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,988.0,117.0,26.0,12.0,83.0,0.0,25.0
587182,9897,2015-03-02,2017.0,252.0,67.0,22.0,101.0,0.0,76.0,1979.0,146.0,101.0,19.0,103.0,0.0,38.0
587183,9897,2015-03-03,1799.0,225.0,60.0,20.0,90.0,0.0,67.0,2141.0,150.0,93.0,20.0,147.0,0.0,29.0
587184,9897,2015-03-04,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,543.0,54.0,22.0,4.0,31.0,0.0,8.0
587185,9897,2015-03-14,2118.0,265.0,71.0,23.0,106.0,0.0,79.0,2024.0,160.0,100.0,9.0,113.0,0.0,22.0
587186,9897,2015-03-15,1920.0,240.0,64.0,21.0,96.0,0.0,72.0,1496.0,132.0,103.0,11.0,54.0,0.0,52.0

In [ ]:
# final_df['diary_date'] = pd.to_datetime(final_df['diary_date'])

In [ ]:
# for col in final_df.columns:
#     final_df[col] = final_df[col].fillna(0)

In [25]:
# Create sum column of all nutritional values inputted for the day
final_df['total_sum'] = f[['total_calcium', 'total_calories', 'total_carbs','total_chol', 
                           'total_fat', 'total_fiber', 'total_iron', 'total_mon fat', 
                           'total_ply fat', 'total_potass.', 'total_protein', 'total_sat fat', 
                           'total_sodium', 'total_sugar', 'total_trn fat', 'total_vit a', 
                           'total_vit c']
                          ].apply(np.sum, axis=1)

In [26]:
# Create sum column of all nutritional goal values for the day
final_df['goal_sum'] = f[['goal_calcium', 'goal_calories', 'goal_carbs','goal_chol', 
                          'goal_fat', 'goal_fiber', 'goal_iron', 'goal_mon fat', 
                          'goal_ply fat', 'goal_potass.', 'goal_protein', 'goal_sat fat', 
                          'goal_sodium', 'goal_sugar', 'goal_trn fat', 'goal_vit a', 'goal_vit c']
                          ].apply(np.sum, axis=1)

In [28]:
final_df.head().T

                         0           1           2           3           4
userId                   1           1           1           1           1
diary_date      2014-09-14  2014-09-15  2014-09-16  2014-09-17  2014-09-18
goal_calories         3173        1572        1832        1685        1597
goal_carbs             396         196         229         210         199
goal_fat               105          52          61          56          53
goal_fiber               0           0           0           0           0
goal_protein           160          79          92          85          80
goal_sodium           2300        2300        2300        2300        2300
goal_sugar             119          59          69          63          60
total_calories        2924        2430        1862        2251        2001
total_carbs            340          96         158         187         113
total_fat              114          37          54          60          81
total_fiber              0           0           0           0           0
total_protein          186          50         114          98         202
total_sodium          3658         855        2215        1765        1101
total_sugar            109          63         100         105          71
total_sum             7331        3531        4503        4466        3569
goal_sum              6253        4258        4583        4399        4289

In [49]:
final_df.head()

,userId,goal_calories,goal_carbs,goal_fat,goal_fiber,goal_protein,goal_sodium,goal_sugar,total_calories,total_carbs,total_fat,total_fiber,total_protein,total_sodium,total_sugar,total_sum,goal_sum
0,1,3173.0,396.0,105.0,0.0,160.0,2300.0,119.0,2924.0,340.0,114.0,0.0,186.0,3658.0,109.0,7331.0,6253.0
1,1,1572.0,196.0,52.0,0.0,79.0,2300.0,59.0,2430.0,96.0,37.0,0.0,50.0,855.0,63.0,3531.0,4258.0
2,1,1832.0,229.0,61.0,0.0,92.0,2300.0,69.0,1862.0,158.0,54.0,0.0,114.0,2215.0,100.0,4503.0,4583.0
3,1,1685.0,210.0,56.0,0.0,85.0,2300.0,63.0,2251.0,187.0,60.0,0.0,98.0,1765.0,105.0,4466.0,4399.0
4,1,1597.0,199.0,53.0,0.0,80.0,2300.0,60.0,2001.0,113.0,81.0,0.0,202.0,1101.0,71.0,3569.0,4289.0

In [111]:
days = df['userId'].value_counts().sort_index()
days = pd.DataFrame(days).rename(columns={'userId': 'days'})
days.head()

   days
1   174
2    60
3     7
4    27
5   179

In [ ]:
cols = final_df.drop('userId','diary_date', axis=1).columns

In [99]:
ff = final_df.groupby(['userId'])[cols].sum()
ff.head()

,goal_calories,goal_carbs,goal_fat,goal_fiber,goal_protein,goal_sodium,goal_sugar,total_calories,total_carbs,total_fat,total_fiber,total_protein,total_sodium,total_sugar,total_sum,goal_sum
userId,,,,,,,,,,,,,,,,
1,375085.0,46633.0,12472.0,0.0,19029.0,400200.0,14076.0,401750.0,32265.0,13562.0,0.0,22408.0,360487.0,14227.0,844699.0,867495.0
2,90925.0,11387.0,2955.0,0.0,4714.0,138000.0,3422.0,87430.0,10872.0,2537.0,0.0,2550.0,100217.0,4573.0,208179.0,251403.0
3,9438.0,1178.0,312.0,196.0,469.0,16100.0,0.0,11969.0,811.0,267.0,120.0,323.0,10156.0,0.0,23646.0,27693.0
4,44211.0,5524.0,1464.0,0.0,2223.0,62100.0,0.0,24636.0,2682.0,1001.0,0.0,1153.0,40061.0,0.0,86279.0,210022.0
5,572414.0,0.0,15948.0,7564.0,35677.0,411700.0,21485.0,536631.0,0.0,13818.0,6305.0,33720.0,358700.0,21707.0,970881.0,1064788.0

In [114]:
combine = pd.merge(days, ff, left_index=True, right_index=True)
combine

,days,goal_calories,goal_carbs,goal_fat,goal_fiber,goal_protein,goal_sodium,goal_sugar,total_calories,total_carbs,total_fat,total_fiber,total_protein,total_sodium,total_sugar,total_sum,goal_sum
1,174,375085.0,46633.0,12472.0,0.0,19029.0,400200.0,14076.0,401750.0,32265.0,13562.0,0.0,22408.0,360487.0,14227.0,844699.0,867495.0
2,60,90925.0,11387.0,2955.0,0.0,4714.0,138000.0,3422.0,87430.0,10872.0,2537.0,0.0,2550.0,100217.0,4573.0,208179.0,251403.0
3,7,9438.0,1178.0,312.0,196.0,469.0,16100.0,0.0,11969.0,811.0,267.0,120.0,323.0,10156.0,0.0,23646.0,27693.0
4,27,44211.0,5524.0,1464.0,0.0,2223.0,62100.0,0.0,24636.0,2682.0,1001.0,0.0,1153.0,40061.0,0.0,86279.0,210022.0
5,179,572414.0,0.0,15948.0,7564.0,35677.0,411700.0,21485.0,536631.0,0.0,13818.0,6305.0,33720.0,358700.0,21707.0,970881.0,1064788.0
6,115,181432.0,18144.0,6071.0,0.0,13616.0,0.0,0.0,156058.0,16249.0,6267.0,0.0,7745.0,0.0,0.0,186319.0,219263.0
7,15,19761.0,1852.0,549.0,383.0,1852.0,0.0,1179.0,12786.0,1513.0,383.0,133.0,891.0,0.0,514.0,16220.0,25576.0
8,85,171949.0,0.0,0.0,2157.0,13005.0,0.0,0.0,167892.0,0.0,0.0,2330.0,10931.0,0.0,0.0,186062.0,195611.0
9,1,1656.0,208.0,55.0,0.0,83.0,2300.0,62.0,1495.0,119.0,38.0,0.0,25.0,729.0,56.0,2462.0,4364.0
10,59,103887.0,13110.0,3516.0,0.0,5274.0,135700.0,3930.0,110924.0,12861.0,3506.0,0.0,4604.0,101906.0,6669.0,240470.0,265417.0
11,11,16553.0,2069.0,553.0,0.0,831.0,25300.0,619.0,10127.0,954.0,354.0,0.0,512.0,20547.0,333.0,32827.0,45925.0
12,144,192292.0,24051.0,6419.0,0.0,9618.0,331200.0,7210.0,164165.0,13899.0,4353.0,0.0,4814.0,131930.0,2724.0,321885.0,570790.0
13,128,274900.0,7660.0,20429.0,3450.0,15083.0,0.0,3105.0,226675.0,5078.0,17553.0,1492.0,11086.0,0.0,1974.0,263858.0,324627.0
14,4,5400.0,482.0,137.0,0.0,564.0,9200.0,260.0,2739.0,207.0,125.0,0.0,149.0,4184.0,69.0,7473.0,16043.0
15,30,37090.0,4636.0,1237.0,0.0,1853.0,0.0,1390.0,35369.0,3921.0,1253.0,0.0,1663.0,0.0,1590.0,45012.0,49206.0
16,104,158363.0,15837.0,4384.0,1821.0,13886.0,260000.0,0.0,103956.0,11298.0,4343.0,1347.0,5774.0,148641.0,0.0,275359.0,454291.0
17,29,41098.0,8082.0,2016.0,0.0,2452.0,70300.0,1745.0,26114.0,2263.0,893.0,0.0,681.0,36889.0,837.0,67677.0,125693.0
18,19,30319.0,3795.0,1005.0,0.0,1525.0,43700.0,1135.0,26802.0,2991.0,1046.0,0.0,1148.0,45372.0,1182.0,78541.0,81479.0
19,11,16376.0,2046.0,551.0,328.0,824.0,25300.0,0.0,16219.0,1567.0,385.0,85.0,429.0,13926.0,0.0,32611.0,45425.0
20,18,24329.0,3041.0,719.0,0.0,1422.0,41400.0,868.0,22786.0,2409.0,672.0,0.0,1004.0,30648.0,737.0,58256.0,71779.0
21,30,51232.0,6379.0,1718.0,0.0,2567.0,69000.0,1802.0,43547.0,4669.0,1543.0,0.0,2382.0,74716.0,1602.0,128459.0,132698.0
22,5,6000.0,750.0,200.0,0.0,300.0,11500.0,225.0,3841.0,227.0,239.0,0.0,236.0,6668.0,38.0,11249.0,18975.0
23,15,28302.0,3539.0,950.0,0.0,1416.0,34500.0,1063.0,16626.0,1565.0,675.0,0.0,1104.0,35096.0,549.0,55615.0,69770.0
24,26,39705.0,4971.0,1328.0,0.0,1997.0,59800.0,1487.0,17673.0,1398.0,513.0,0.0,1201.0,28126.0,593.0,49504.0,109288.0
25,30,56763.0,0.0,1887.0,1095.0,2854.0,0.0,0.0,23520.0,0.0,800.0,291.0,1163.0,0.0,0.0,25774.0,62599.0
26,19,29300.0,3653.0,977.0,0.0,1465.0,43700.0,1601.0,22548.0,2995.0,619.0,0.0,1032.0,10473.0,1229.0,38896.0,80696.0
27,1,2050.0,256.0,68.0,25.0,103.0,0.0,0.0,41.0,11.0,0.0,2.0,1.0,0.0,0.0,55.0,2502.0
28,2,1313.0,150.0,40.0,0.0,60.0,4600.0,5130.0,3323.0,478.0,109.0,0.0,93.0,3522.0,200.0,7725.0,11293.0
29,24,37500.0,3445.0,1430.0,0.0,2719.0,55200.0,1092.0,28822.0,2522.0,1280.0,0.0,1875.0,47925.0,909.0,83333.0,101386.0
30,23,50202.0,5367.0,1776.0,599.0,3199.0,0.0,1876.0,32222.0,2007.0,1932.0,403.0,1624.0,0.0,857.0,39045.0,63019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9868,17,35934.0,3589.0,1073.0,512.0,2996.0,0.0,0.0,23535.0,2304.0,847.0,311.0,1552.0,0.0,0.0,29000.0,45804.0
9869,175,309293.0,3855.0,26553.0,3854.0,13694.0,0.0,0.0,146553.0,2855.0,13129.0,1146.0,6583.0,0.0,0.0,170266.0,357249.0
9870,56,98023.0,9802.0,3266.0,0.0,7349.0,0.0,3675.0,76743.0,8944.0,2975.0,0.0,3435.0,0.0,2689.0,94791.0,122115.0
9871,4,6510.0,244.0,389.0,111.0,508.0,0.0,244.0,6445.0,181.0,511.0,91.0,305.0,0.0,76.0,7609.0,8006.0
9872,29,38504.0,4775.0,1283.0,0.0,1921.0,66700.0,1441.0,35309.0,1382.0,513.0,0.0,454.0,24567.0,416.0,62641.0,114624.0
9873,102,159254.0,15743.0,4284.0,0.0,14342.0,238200.0,6457.0,53185.0,5044.0,2449.0,0.0,3260.0,78442.0,1943.0,144323.0,438280.0
9874,64,106986.0,9387.0,2968.0,0.0,10701.0,148600.0,4119.0,83723.0,10985.0,2989.0,0.0,3502.0,127807.0,3393.0,232399.0,282761.0
9875,85,127534.0,15915.0,4262.0,0.0,6380.0,195500.0,4769.0,88028.0,11768.0,2798.0,0.0,2142.0,62264.0,5120.0,172120.0,354360.0
9876,14,21024.0,2623.0,701.0,0.0,1055.0,32200.0,752.0,10862.0,1444.0,246.0,0.0,564.0,10383.0,483.0,23982.0,58355.0
9877,14,20741.0,2593.0,686.0,0.0,1038.0,32200.0,776.0,12961.0,1577.0,566.0,0.0,576.0,22137.0,414.0,38231.0,58034.0
9878,51,68326.0,8544.0,2279.0,0.0,3417.0,117300.0,2561.0,62680.0,7178.0,2008.0,0.0,2333.0,82550.0,2950.0,159699.0,202427.0
9879,67,98692.0,12359.0,3302.0,0.0,4936.0,154100.0,3709.0,70526.0,8077.0,2274.0,0.0,2882.0,97720.0,2411.0,183890.0,277098.0
9880,13,17470.0,2746.0,395.0,0.0,734.0,29900.0,656.0,15767.0,2647.0,287.0,0.0,416.0,16133.0,440.0,35690.0,51901.0
9881,17,27711.0,6405.0,165.0,0.0,255.0,39100.0,1332.0,50662.0,5518.0,1712.0,0.0,2149.0,52471.0,3529.0,116041.0,74968.0
9882,154,254683.0,26465.0,8258.0,0.0,17143.0,368800.0,7538.0,218426.0,26193.0,8764.0,0.0,9317.0,405598.0,8598.0,676896.0,682887.0
9883,73,147092.0,15638.0,3654.0,2545.0,12862.0,167900.0,0.0,80924.0,9340.0,3345.0,995.0,3647.0,137460.0,0.0,235711.0,349691.0
9884,4,5539.0,763.0,183.0,0.0,208.0,10000.0,110.0,2422.0,384.0,80.0,0.0,77.0,2677.0,160.0,5800.0,16803.0
9885,42,69398.0,6722.0,2208.0,1104.0,5629.0,0.0,2305.0,58658.0,7115.0,1825.0,801.0,3327.0,0.0,2310.0,74036.0,87366.0
9886,174,301945.0,37721.0,10118.0,0.0,15084.0,400200.0,11365.0,280436.0,30535.0,10856.0,0.0,11731.0,311502.0,12611.0,657671.0,776433.0
9887,28,40475.0,2897.0,1269.0,0.0,4374.0,64400.0,1519.0,31326.0,2360.0,1181.0,0.0,2503.0,33560.0,893.0,71823.0,114934.0
9888,31,84943.0,3998.0,3463.0,0.0,9442.0,71300.0,2697.0,40503.0,3473.0,1735.0,0.0,2825.0,69755.0,1647.0,119938.0,175843.0
9889,24,59460.0,7578.0,1942.0,0.0,2900.0,55200.0,2256.0,33076.0,3589.0,1164.0,0.0,1828.0,66782.0,1043.0,107482.0,129336.0
9890,1,1360.0,170.0,45.0,0.0,68.0,2300.0,51.0,1200.0,111.0,56.0,0.0,36.0,2150.0,17.0,3570.0,3994.0
9891,179,282840.0,35369.0,9446.0,0.0,14098.0,411700.0,10662.0,232553.0,23829.0,8455.0,0.0,14966.0,347411.0,6144.0,633358.0,764115.0
9892,1,1200.0,165.0,40.0,0.0,45.0,2500.0,24.0,270.0,36.0,11.0,0.0,5.0,10.0,34.0,366.0,3974.0
9893,22,50179.0,6280.0,0.0,1443.0,2509.0,50600.0,1878.0,27522.0,1494.0,0.0,351.0,1739.0,39883.0,735.0,71724.0,112889.0
9894,3,4980.0,624.0,165.0,0.0,249.0,0.0,186.0,3532.0,461.0,136.0,0.0,129.0,0.0,128.0,4488.0,6504.0
9895,169,301415.0,25286.0,10661.0,6282.0,26167.0,0.0,11113.0,280017.0,30842.0,10896.0,2938.0,12472.0,0.0,9885.0,347050.0,380924.0
9896,15,21035.0,1252.0,700.0,406.0,2431.0,0.0,782.0,17238.0,1210.0,870.0,213.0,1087.0,0.0,488.0,21106.0,26606.0
9897,90,178733.0,22987.0,5947.0,1945.0,8299.0,0.0,6689.0,158941.0,14152.0,6766.0,1210.0,8101.0,0.0,5053.0,194223.0,224600.0

## Labeling:
- Achievement Column: Indicates whether or not a user has met their daily goal within a tolerance of 10%.
    - 1 = Succeed
    - 0 = Fail

In [115]:
combine['achievement'] = np.where(abs((combine['total_sum'] - combine['goal_sum']) / combine['goal_sum']) 
                                   <= 0.1, 1, 0)

In [118]:
combine.head()

,days,goal_calories,goal_carbs,goal_fat,goal_fiber,goal_protein,goal_sodium,goal_sugar,total_calories,total_carbs,total_fat,total_fiber,total_protein,total_sodium,total_sugar,total_sum,goal_sum,achievement
1,174,375085.0,46633.0,12472.0,0.0,19029.0,400200.0,14076.0,401750.0,32265.0,13562.0,0.0,22408.0,360487.0,14227.0,844699.0,867495.0,1
2,60,90925.0,11387.0,2955.0,0.0,4714.0,138000.0,3422.0,87430.0,10872.0,2537.0,0.0,2550.0,100217.0,4573.0,208179.0,251403.0,0
3,7,9438.0,1178.0,312.0,196.0,469.0,16100.0,0.0,11969.0,811.0,267.0,120.0,323.0,10156.0,0.0,23646.0,27693.0,0
4,27,44211.0,5524.0,1464.0,0.0,2223.0,62100.0,0.0,24636.0,2682.0,1001.0,0.0,1153.0,40061.0,0.0,86279.0,210022.0,0
5,179,572414.0,0.0,15948.0,7564.0,35677.0,411700.0,21485.0,536631.0,0.0,13818.0,6305.0,33720.0,358700.0,21707.0,970881.0,1064788.0,1

In [ ]:
final_df.to_json('data/mfp-goals.json', orient='records', lines=True)

In [ ]:
final_df = pd.read_json('data/mfp-goals.json', lines=True)

In [ ]:
final_df['diary_date'] = pd.to_datetime(final_df['diary_date'])

In [ ]:
final_df.head()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_curve, auc, precision_score, recall_score, accuracy_score, f1_score

In [ ]:
#Setting X and y variables, then Train Test Split
X = final_df.drop(['achievement','diary_date','userId','goal_sum','total_sum',
                   'goal_calories','goal_carbs','goal_fat','goal_fiber',
                   'goal_protein','goal_sodium','goal_sugar'], axis=1)
y = final_df.achievement

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [ ]:
loreg = LogisticRegression(solver='lbfgs', max_iter=1000)
loreg.fit(X_train, y_train)
loreg_preds = loreg.predict(X_test)

In [ ]:
def print_metrics(y, loreg_preds):
    print("Precision Score: {}".format(precision_score(y, loreg_preds)))
    print("Recall Score: {}".format(recall_score(y, loreg_preds)))
    print("Accuracy Score: {}".format(accuracy_score(y, loreg_preds)))
    print("F1 Score: {}".format(f1_score(y, loreg_preds)))
    
print_metrics(y_test, loreg_preds)

In [ ]:
# json_dict.keys()[0]
# Gives Error: 'dict_keys' object does not support indexing, hence needs to be set to a list to iterate.

### Goal:
Create 1 column per dictionary in both total key and goal key

- total
    + total_calories
    + total_carbs
    + total_fat
    + total_protein
    + total_sodium
    + total_sugar
- goal
    + goal_calories
    + goal_carbs
    + goal_fat
    + goal_protein
    + goal_sodium
    + goal_sugar

In [ ]:
# df = pd.DataFrame([[1, 4],
#                    [2, 5],
#                    [3, 6]],
#                   columns=["a", "b"])
# df

In [ ]:
# df["c"] = df.apply(np.sum, axis=1)
# df